@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import "layout.css";
@import "about.css";
@import "impact.css";
@import "strategic.css";
@import "team.css";
@import "who.css";
@import "signup.css";
@import "footer.css";

:root {
    --primary: #0e1758BD;
    --title: #1f2653;
    --link: #1f2653;
    --secondary: #c19267;
    --shadow-nav: 0 11px 34px 0 rgba(52, 99, 188, .1);
    --shadow-box: 0 20px 50px 0 rgba(0, 0, 0, .1);
    --transition-box: background .3s, border .3s, border-radius .3s, box-shadow .3s;
}

/*@media (max-width: 1399.98px) {  }*/
/*@media (max-width: 1199.98px) {  }*/
/*@media (max-width: 991.98px) {  }*/
/*@media (max-width: 767.98px) {  }*/
/*@media (max-width: 575.98px) {  }*/
